In [1]:
sum_of_terms = (23 + 32 + 64)
num_of_terms = 3

mean = sum_of_terms/num_of_terms
print(mean)

39.666666666666664

In [2]:
# create tiles needed
tiles_needed = ((9*7) + (5*7))
print(tiles_needed, "tiles needed for job")

# create an expression that calculates how many tiles are needed.
tiles_purchased = (17 * 6)
print(tiles_purchased, "tiles purchased")

# create an expression that calculates how many tiles will be left over.
print(tiles_purchased - tiles_needed, "itles left over")

98 tiles needed for job
102 tiles purchased
4 itles left over

In [4]:
#!python3.7

In [5]:
#!python --version

In [6]:
# lets chat again about variable assignments, here's another way to assign multiple variables
x, y, z = 1, 2, 3
print (x, y, z)

1 2 3

In [7]:
tax = 12.5 / 100
price = 100.50
price * tax

12.5625

In [10]:
# see waht we did there '_' took the last output and we added it to price, but if you rerun this cell again it will continue to add
price + _

314.0625

In [11]:
round(_, 2)

314.06

In [12]:
# So it's best to utilize variables where your results can be stored later retrieved and used again
tax = 12.5 / 100
price = 100.50
result = price * tax
print(result)

12.5625

In [13]:
total = price + result
print(total)

113.0625

In [14]:
round(total,2)

113.06

In [16]:
list_of_reserve_words=['and','assert','break','class','continue','def','del','elif','else','except','exec','finally','for','from','global','if','import','in','is','lambda','not','or','pass','print','raise','return','try','while','Data','Float','Int','Numeric','Oxphys','array','close','float','int','input','open','range','type','write','zeros','acos','asin','atan','cos','e','exp','fabs','floor','log','log10','pi','sin','sqrt','tan']

In [17]:
import pandas as pd

# Calling DataFrame constructor on list
df = pd.DataFrame(list_of_reserve_words)
df

           0
0        and
1     assert
2      break
3      class
4   continue
5        def
6        del
7       elif
8       else
9     except
10      exec
11   finally
12       for
13      from
14    global
15        if
16    import
17        in
18        is
19    lambda
20       not
21        or
22      pass
23     print
24     raise
25    return
26       try
27     while
28      Data
29     Float
30       Int
31   Numeric
32    Oxphys
33     array
34     close
35     float
36       int
37     input
38      open
39     range
40      type
41     write
42     zeros
43      acos
44      asin
45      atan
46       cos
47         e
48       exp
49      fabs
50     floor
51       log
52     log10
53        pi
54       sin
55      sqrt
56       tan